<%= link_to 'Back', problems_path %>

<div class="row">
	<div class="col-md-offset-2 col-md-8">
		<div class="panel panel-default">
			<div class="panel-body">
				<p><strong><%= @problem.description %></strong></p>
				<%= link_to edit_problem_path(@problem) do %>
					<span class="glyphicon glyphicon-pencil"></span> Edit
				<% end %>
			</div>
		</div>
	</div>
</div>