<div class="jumbotron">
<h1>How does this work?</h1>
<p>Do you crave REAL conversation?  Tired of arguing WHETHER something is a problem?  Want to move on to discussing HOW to fix the problem?  This is the site for you.</p>
<p>We're introducing a new way to have a discussion, it's not a debate.  It's not about changing anyone's minds.  It's about finding solutions.  Even if only for those that really want to fix the problems brought up.</p> 
<p>There are 3 concepts in this new discussion approach: Problems, Solutions, and Criteria.</p>
<p>Problems: Any problem out there you want to solve, big, small, global, local, whatever, we won't discriminate - it's about solving problems, not judging their merit.</p> 
<p>Solutions: A specific action (law change, policy change, money allocation, etc) that can be taken to address the problem proposed.</p>
<p>Criteria: Possible outcomes that should be avoided or encouraged. Values by which to judge a solution. Considerations that shouldn't be forgotten while trying to solve a problem.  Often considered "the other side".</p>
<p>To participate, find a problem you agree with - tag it (so you can follow it).  Check out the proposed solutions, like those you agree with.  Add criteria to the ones you're not sure about.  Don't see a problem you want to discuss?  Add your own.  Don't like the exact way a problem is stated?  Propose an alternate wording. Oh yeah! You can also add solutions to problems.</p>
</div>