<div class="panel panel-default">
	<div class="panel-heading">
		<h1><%= @problem.description %></h1>
	</div>
	<div class="panel-body">
		<%= render 'form' %>
	</div>
	<div class="panel-footer">
		<%= link_to 'Back', solutions_path(:problem_id => @problem.id),  :method => :get %>
	</div>
</div>
