<%= link_to 'See All Solutions', solutions_path(:problem_id => @solution.problem_id),  :method => :get %><br>
<%= link_to new_solution_path(:problem_id => @solution.problem.id) do %> <span class="glyphicon glyphicon-pencil"></span> New Solution <% end %>

<div class="row">
	<div class="col-md-offset-2 col-md-8">
		<div class="panel panel-default">
			<div class="panel-body">
				<p><strong><%= @solution.description %></strong></p>
				<%= link_to edit_solution_path(@solution) do %>
					<span class="glyphicon glyphicon-pencil"></span> Edit
				<% end %>
			</div>
		</div>
	</div>
</div>